<div>
    <mat-form-field class="example-full-width">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
</div>

<div>
 <mat-form-field class="example-full-width">
    <mat-label>Logradouro</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
 </mat-form-field>
</div>

<div>
 <mat-form-field class="example-full-width">
    <mat-label>Cidade</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
 </mat-form-field>
</div>

<div>
 <mat-form-field class="example-full-width">
    <mat-label>UF</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
 </mat-form-field>
</div>